<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Tracker App{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul></ul>
      </nav>
    </header>

    {% block content %}{% endblock %}

    <footer></footer>
  </body>
</html>
